**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [76]:
import pandas as pd

df = pd.read_csv('alunos3.csv',sep=';',decimal=',')

df['Media_provas'] = df[df.columns[3:]].mean(axis=1)
df

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.000
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.250
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.000
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.000
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.000
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.500
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875
7,110263,José Valente,20,10.0,10.0,10.0,10,10.000
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.000

2) Quem foram os alunos que obtiveram a maior e a menor média

In [77]:
maior = df.iloc[df['Media_provas'].idxmax(), 1]
menor = df.iloc[df['Media_provas'].idxmin(), 1]

print(f'O aluno com a menor média é: {menor}')
print(f'O aluno com a maior média é: {maior}')

O aluno com a menor média é: Joao Galo
O aluno com a maior média é: José Valente

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [92]:
df2 = pd.read_excel('cadastro_alunos.xlsx')
df_junto = df.merge(df2, how='left', on='RA')
df_junto

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas,Cidade,Sexo,Idade
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.000,São Paulo,Masculino,15
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.250,Rio de Janeiro,Feminino,20
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.000,Rio de Janeiro,Masculino,18
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.000,Belo Horizonte,Masculino,39
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.000,Belo Horizonte,Feminino,22
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.500,Rio de Janeiro,Feminino,17
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875,Belo Horizonte,Masculino,26
7,110263,José Valente,20,10.0,10.0,10.0,10,10.000,Belo Horizonte,Masculino,31
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625,São Paulo,Feminino,29
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.000,São Paulo,Feminino,16

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [95]:
df_sexo = df_junto.groupby('Sexo').mean().reset_index()[['Sexo', 'Media_provas']]
df_sexo

        Sexo  Media_provas
0   Feminino         7.675
1  Masculino         7.775

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [108]:
df_idade = df_junto[df_junto['Media_provas']>7]['Idade'].mean()
print(f'A idade media das pessoas que obtiveram Media_provas maior ou igual a 7 é: {df_idade}')

A idade media das pessoas que obtiveram Media_provas maior ou igual a 7 é: 25.333333333333332

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [65]:
df_junto.groupby('Cidade').mean().reset_index()[['Cidade', 'Media_provas']].\
sort_values(by='Media_provas',ascending=False).head(1)

           Cidade  Media_provas
0  Belo Horizonte       7.96875

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.

In [ ]:
df = pd.read_csv('alunos3.csv',sep=';',decimal=',', usecols=['RA', 'Prova_1', 'Prova_2', 'Prova_3', 'Prova_4'])
df['Media'] = df[df.columns[1:]].mean(axis=1)
df.to_excel('alunos3.xlsx', index=False, columns=['RA','Media'])